.navbar-component {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
}

.login-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form-group {
  width: 40%;
}

.form-label {
  margin-top: 20px;
}

.password-button {
  margin-top: 20px;
}
