body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar-brand {
  margin-left: 10px;
  margin-right: 10px;
}

.add-product-container {
  margin-top: 20px;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f8f9;
  flex-direction: column;
}

.product-showcase-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.product-category-buttons {
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.product-showcase {
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  margin-top: 50px;
}

.individual-product-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #edeff1;
  cursor: pointer;
  padding-bottom: 20px;
}

.individual-product-wrapper {
  width: 18%;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid #edeff1;
  cursor: pointer;
  padding-bottom: 20px;
}

.individual-product-image {
  object-fit: contain;
  height: 300px;
  padding: 20px;
  width: 100%;
}

.individual-product-price {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.product-name {
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}

.order-description {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.order-item-id {
  width: 10%;
  margin: 2%;
}

.order-item-name {
  width: 30%;
  margin: 2%;
}

.order-item-image-container {
  width: 15%;
  margin: 2%;
}

.order-item-quantity {
  width: 15%;
  margin: 2%;
  text-align: center;
}

.order-item-price {
  width: 15%;
  margin: 2%;
  text-align: center;
}

.order-item-cancel {
  width: 10%;
  margin: 2%;
}

.order-description-header {
  display: flex;
  width: 800px;
}

.sr-selection {
  height: 50px;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-section {
  display: flex;
  flex-direction: column;
}

.order-showcase-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.order-category-search-buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-self: center;
}

.order-category-search {
  width: 50%;
}

.order-category-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.order-category-search .input-group {
  width: 350px;
}

.user-category-search-buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-self: center;
}

.user-category-search {
  width: 50%;
}

.user-category-buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.user-category-search .input-group {
  width: 350px;
}
